<% 
var title = 'タイトル';
var description = 'ディスクリプション';
var path = '.';
var bodyClass = 'home';
%>
<% include common/_header %>

<div class="content">
</div><!-- /content -->

<% include common/_footer %>