<% 
const meta = {
  title: 'タイトル',
  description: 'ディスクリプション',
  path: '.',
  bodyClass: 'home',
}
%>
<%- include ('common/_header', {meta: meta}) %>

<div class="content">
</div><!-- /content -->

<%- include ('common/_footer') %>